[user]
	email = hello@rodrigosantos.dev
	name = Rodrigo Santos
[grep]           
	linenumber = true
[alias]
	ls = ls-files
[core]
	editor = cursor --wait
	excludesfile = /Users/rodrigo/.gitignore
[init]
	defaultBranch = main